.main {
    box-shadow: 15px 15px 35px rgb(151, 151, 143);
    border-radius: 5px;
    background-color: black;
    text-shadow: 15px 15px 35px rgb(151, 151, 143);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.main p {
    color: beige;
    padding: 0px 18px;
}

.main h2 {
    color: beige;
    padding: 0px 18px;
}

.portPict {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.porth1 {
    margin-top: 70px;
    font-size: 45px;
    text-align: center;
}

.links p {
    margin: 0px -20px 16px 0px;
    display: inline-block;
    text-decoration: underline;
}

/* @media (max-width: 950px) {

    .main {
        display: flex;
    flex-direction: column;
    }
} */